@import url(http://weloveiconfonts.com/api/?family=entypo);

/* entypo */
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}

html {
  height: 100%;
}

body {
  position: relative;
  background-color: #220702;
  color: #f2f2f2;
  font-family: "Lato",Arial, Helvetica, sans-serif;
  min-height: 100%;
  padding-bottom: 50px;
}



a {
  font-size: 1.25em;
  font-weight: bold;
  font-style: italic;
  color: #50A06F;
  text-shadow: -1px 2px 2px rgba(0,0,0,0.75);
}

a:visited {
  color: #844bbd
}

h1 {
  font-family: "Merriweather",'Times New Roman', Times, serif;
  text-shadow: -1px 2px 2px rgba(0,0,0,0.75);
  font-weight: 700;
  font-size: 34px;
}

h2 {
  text-shadow: -1px 2px 2px rgba(0,0,0,0.75);
  font-size: 28px;
}

#bg {
  position: absolute;
  height: 300px;
  max-width: 100%;
  background: -webkit-radial-gradient(center ellipse, #ccc 0%, #220702 100%);
  background: radial-gradient(ellipse at center, #ccc 0%, #220702 100%);
  -webkit-box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.75);
}

svg {
  height: 300px;
  max-width: 100%;
}

#header {
  text-shadow: -1px 2px 2px rgba(34,7,2,0.75);
  text-align: center;
  width: 100%;
  height: 300px;
  padding: 0;
}

.header-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 100%;
  margin: auto;

}

.avatar {
  border-radius: 100%;
  max-width: 150px;
  margin: 0 auto;
  padding: 0;
  -webkit-box-shadow: 0px 0px 25px 4px rgba(34,7,2,0.75);
  -moz-box-shadow: 0px 0px 25px 4px rgba(34,7,2,0.75);
  box-shadow: 0px 0px 25px 4px rgba(34,7,2,0.75);
}

.name-title {
  width: 100%;

}

.portfolio h1 {
  font-size: 30px;
}




.name-title p {
  font-family: "Lato",Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-style: italic;
  font-size: 1.5em;
  margin-bottom: 0;
}

.portfolio {
  text-align: center;
  padding-bottom: 10px;
}



ul {
  list-style: none;
  font-size: 2em;
  text-align: center;
  padding: 0;
  margin: 0;
}

li {
  display: inline;
  padding: 0 10px;
  text-shadow: -1px 2px 2px rgba(0,0,0,0.75);
}

img {
  max-width: 100%;
  padding-top: 20px;
}

footer {
  position: absolute;
  height: 50px;
  bottom: 0;
  right: 0;
  left: 0;
  padding-bottom: 10px;

}
