.jumbotron {
  background-color: #fff;
  border-bottom: 5px solid #7d97ad;
}


.avatar {
  border-radius: 100%;
  max-width: 175px;
  margin: auto;
  display: block;
}

#name, #title {
  text-align: center;
  color: #2d3c49;
}

section {
  
}