html {
  height: 100%;
}

body {
  background: #f1c40f;
  background: -webkit-linear-gradient(#f1c40f, #f39c12);
  background: linear-gradient(#f1c40f, #f39c12);
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

p {
  position: absolute;
  top: 1em;
  left: 1.25em;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  color: #fff;
  line-height: 1.5;
}
