<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">
    <title>Canvas Particles I</title>
    
    
    <link rel="stylesheet" href="css/reset.css">

    
        <link rel="stylesheet" href="css/style.css">

    
    
    
  </head>

  <body>

    <p>
	<span class="particles">0</span> particles<br>
	<span class="fps">0</span> fps
</p>
    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>

        <script src="js/index.js"></script>

    
    
    
  </body>
</html>
